.apresentacao__conteudo {    
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
}

.apresentacao__conteudo__texto__lista {
    padding: 0 0 0 10vh;
}

@media (max-width: 500px){
    .apresentacao__conteudo__texto__lista{
        font-size: 1rem;
    }
}